.root {
    max-width: 800px;
    margin: auto;
  }
  
  .list {
    padding: 16px;
  }
  
  .listItem {
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 8px;
    margin-bottom: 8px;
  }
  
  .button {
    margin-right: 8px;
  }
  
  .textField {
    width: 250px;
  }
  